/*
	Synchronous by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 0em 0em;
		box-shadow:#ccc 0px 3px 3px;
	}
	
		#header .container
		{
			display: flex;
			box-sizing: border-box;
			justify-content: space-between;
			padding: 10px 0;
		}



/*********************************************************************************/
/* Sidebar    r                                                                  */
/*********************************************************************************/

	#sidebar1 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar1 h2 {
	}

	#sidebar2 {
		padding: 0px 0px 0px 0px;
	}

	#sidebar2 h2 {
	}