/*
	Synchronous by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 10.5pt;
		letter-spacing: 0;
	}

	body
	{
	}

	section,article
	{
		clear: both;
	}

	.container{
		padding: 0em 0px;
	}

			
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

header h2{
	display: none;
}

#header
{
	padding: 10px;
	text-align: center;
	background:#3B5998;
	box-sizing: border-box;
	margin: 0;
}

#content header{
	margin-bottom: 10px !important;
}
	

#content header ul li img{
	vertical-align: bottom;
}

/*********************************************************************************/
/* Nav                                                                          */
/*********************************************************************************/

	#nav{
		margin-top: 0;
	}
	#nav > p{
		background: url(../images/icon_user.png) no-repeat left 0px top 5px;
		background-size: 30px 30px;
		padding-left: 40px;
	}
	#nav > p a{
		color: #fff;
	}

	#nav > ul {
		width: 100%;
		text-align: right;
	}
	#nav > ul > li{
		margin-right: 10px;
	}

	#nav > ul > li:nth-child(4){
		display: none !important;
	}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		display: none;
	}

	
	#nav
	{
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#page{
		padding: 10px 0 0;	
	}
	#content{
		margin: 0 10px;
	}
	

/*********************************************************************************/
/* Panel                                                                        */
/*********************************************************************************/

.panel{
	padding: 10px;
	border-radius: 0;
}

/* top */
.panel dl.panel_top{
	margin-bottom: 10px;
}

.panel dl.panel_top dd.form,
.panel div.panel_bottom>dl dd.form{
	width: 100%;
}

.panel dl.panel_top dd.form>input,
.panel div.panel_bottom>dl dd.form>input{
	width: 100%;
}

/* cont */
.panel .panel_cont p.photo{
	margin: 0 -10px;
}


/* bottom */
.panel .panel_bottom ul.menu{
	width: 100%;
	padding: 10px 60px 0;
	justify-content: space-between;
}
.panel .panel_bottom ul.menu li a{
	padding: 0;
	width: 60px;
}
.panel .panel_bottom ul.menu li a span{
	visibility: hidden;
}

.panel .panel_bottom ul.menu2{
	width: 100%;
	padding:10px 10px;
	justify-content: left;
}

.panel .panel_bottom ul.menu2 li{
	width: auto;
	margin-right: 20px;
}

.panel .panel_bottom .comment>dl dt{
	padding: 10px;
	margin-bottom: 0;
}
.panel .panel_bottom .comment>dl dd{
	margin-left: 45px;
}

/*********************************************************************************/
/* left                                                                        */
/*********************************************************************************/

#sidebar1{
	display: none;
}



/*********************************************************************************/
/* right                                                                        */
/*********************************************************************************/

#sidebard2{
	padding-bottom:0;
	margin-bottom: 0 !important;
}

#sidebard2 header{
	display: block;
	margin-bottom: 0px;
}

#sidebard2 .banner,
#sidebard2>dl{
	padding: 15px;
	background: #fff;
	border: none;
	box-shadow: #ccc 0 2px 0px;
}
#sidebard2>dl{
	margin-top:10px;
}
#sidebard2>dl ul{
	display: flex;
	justify-content: left;
	margin-bottom: 0 !important;
}
#sidebard2>dl ul li{
	margin: 0 15px 0 0;
	position: relative;
	padding: 0;
	width: 40px;
}
#sidebard2>dl ul li>a{
	visibility: hidden;
}

#sidebard2 dl h3{
	font-size: 1.2rem;
	font-weight: 500;
	color: #999;
	margin-bottom: 20px;
}

#sidebard2 dl span{
	font-size: 0.9rem;
	display: inline-block;
	padding-left: 20px;
}


/*********************************************************************************/
/* copyright                                                                        */
/*********************************************************************************/
#copyright .container{
	padding: 20px 0;
	margin: 0;
	border:none;
}

#copyright .container a{
}