/*
	Synchronous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body {
		margin: 0px;
		padding: 0px;
		background: #f3f2ed;
		font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
		font-size: 10pt;
		color: #333333;
		background-color: #eff2f5;
	}

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
		font-weight: 300;
	}

	p {
		margin-bottom: 1.5em;
		line-height: 200%;
	} 

	a {
		color: #333;
		text-decoration: none;
	}

	strong {
		font-weight: 700;
		color: #2A2A2A;
	}

	header
	{
		margin-bottom: 23px;
	}

	header h2
	{
		font-weight: 900;
		font-size: 2em;
		color: #323338;
	}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		text-align: left;
		background-size: cover;
		background-color: #ffffff;
	}

	#page {
		padding: 25px 0 0;
	}
	
	#content header
	{
		margin-bottom: 25px !important;
	}

	#content header h2
	{
		font-size: 1.1em;
		margin-bottom: 20px;
		color: #999;
	}

	#content header ul{
		display: flex;
	}

	#content header ul li{
		width: 230px;
		margin-right: 10px;
		box-shadow: #ccc 3px 3px 3px;
	}
		
	#content header ul li:last-child{
		margin-right: 0px;
	}

	#content header ul li img{
		width: 100%;
		vertical-align: bottom;
	}



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	margin-bottom: 0em;
}

	#logo h1
	{
		color: #FFF;
	}

	#logo h1 a
	{
		display: block;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 2em;
		font-weight: 900;
		color: #1A77F2;
		background: url(../images/logo.png) no-repeat left top;
		background-size: auto 50px;
		padding:10px 0 0 65px;
		height: 50px;
		box-sizing: border-box;
	}

	#logo span
	{
		display: block;
		padding-top: 1em;
		letter-spacing: 1px;
		font-size: 1.2em;
		color: #8e8588;
	}			
		

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav
{
	margin-top: 5px;
	display: flex;
}

nav > p{
	background: url(../images/icon_user.png) no-repeat left 0px top 0px;
	background-size:40px 40px;
	padding:5px 0 0 50px;
	margin-right: 20px;
	height: 40px;
	box-sizing: border-box;
	margin-bottom: 0;
}

nav > p a{
	display: block;
	text-decoration: none;
	font-weight: 900;
	font-size: 1em;
	color: #323338;
}

	#nav > ul > li
	{
		display: inline-block;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}

	nav > ul > li:nth-child(1){
		background: #E3E6EA url(../images/header_icon_01.png) no-repeat left 9px top 9px;
		background-size:22px 22px;
	}
	nav > ul > li:nth-child(2){
		background: #E3E6EA url(../images/header_icon_02.png) no-repeat left 9px top 9px;
		background-size:22px 22px;
	}
	nav > ul > li:nth-child(3){
		background: #E3E6EA url(../images/header_icon_03.png) no-repeat left 9px top 9px;
		background-size:22px 22px;
	}
	nav > ul > li:nth-child(4){
		background: #E3E6EA url(../images/header_icon_04.png) no-repeat left 9px top 9px;
		background-size:22px 22px;
	}
	
		#nav > ul > li:last-child
		{
			padding-right: 0;
		}

		#nav > ul > li > a
		{
			display: block;
			padding: 1em 1.5em;
			letter-spacing: 1px;
			text-decoration: none;
			font-weight: 200;
			font-size: 1em;
			outline: 0;
			color: #323338;
			visibility: hidden;
		}


		#nav > ul > li > a:hover
		{
			color: #FFF;
		}

		#nav li.active a
		{
			background: #323338;
			border-radius: 4px;
			color: #FFF;
		}

		#nav > ul > li > ul
		{
			display: none;
		}



/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		text-align: center;
	}
	
	#copyright .container
	{
		padding: 3em 0em;
		border-top: 1px solid;
		border-color: rgba(0,0,0,.1);
		margin-top: 40px;
	}
	
	#copyright a
	{
		text-decoration: none;
	}
	

/*********************************************************************************/
/* panel                                                                     */
/*********************************************************************************/

.panel{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: #ccc 0 2px 0px;
	padding: 20px;
	margin-bottom: 10px;
}

.panel div.panel_top h3{
	font-size: 1.2rem;
	font-weight: 500;
	color: #999;
	margin-bottom: 20px;
}

.panel div.panel_top h3 span{
	font-size: 0.9rem;
	display: inline-block;
	padding-left: 20px;
}

/* panel top */
.panel dl.panel_top,
.panel div.panel_bottom>dl{
	display: flex;
	justify-content: left;
	margin-bottom: 20px;
}

.panel dl.panel_top>dt,
.panel div.panel_bottom>dl>dt{
	width: 40px;
	margin-right: 10px;
}

.panel dl.panel_top>dd h3,
.panel div.panel_bottom>dl>dd h3{
	font-weight: 600;
	display: block;
}
.panel dl.panel_top>dd p,
.panel div.panel_bottom>dl>dd p{
	font-size: 0.9rem;
	color: #666;
	margin-bottom: 0;
}

.panel dl.panel_top dd.form>input,
.panel div.panel_bottom>dl dd.form>input{
	width: 610px;
}

input[type="text"] {
	border-radius: 20px;
	background: #EFF2F5;
	padding:15px 20px;
	border: none;
}

/* panel cont */

.panel .panel_cont p.photo{
	margin:0 -20px 0px;
}

.panel .panel_cont .chatroom{
	display: flex;
	justify-content: left;
}
.panel .panel_cont .chatroom li{
	margin-right: 15px;
	position: relative;
}

.panel .panel_cont .chatroom li::after{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	bottom: 0;
	left: 25px;
	background-color:#30A24C;
	border-radius: 50%;
	border: 2px solid #fff;
}


/* panel bottom */

.panel .panel_bottom ul.menu,
.panel .panel_bottom ul.menu2 {
	display: flex;
	width: 660px;
	padding: 10px 30px 0;
	justify-content: space-between;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}

.panel .panel_bottom ul.menu2{
	padding: 10px 100px 10px;
	border-bottom: 1px solid #ccc;
}

.panel .panel_bottom ul.menu li a,
.panel .panel_bottom ul.menu2 li a{
	width: 140px;
	height: 40px;
	padding-left: 50px;
	display: block;
	box-sizing: border-box;
	padding-top:10px;
}

.panel .panel_bottom footer{
	padding: 10px 0 10px;
	font-size: 0.8rem;
}

.panel .panel_bottom footer>dl{
	display: flex;
	justify-content: left;
	margin-top: 0 !important;
}

.panel .panel_bottom footer>dl dt{
	background: url(../images/icon_fuck_blue.png) no-repeat left top;
	background-size: 20px 20px;
	padding-left: 30px;
	min-height: 20px;
	margin-right: 20px;
	width: 500px;
}

.panel div.panel_bottom dl{
	margin: 20px 0 0 ;
}

.panel .panel_bottom footer>dl dd{
	text-align: right;
	width: 140px;
}

.panel .panel_bottom ul.menu li:nth-child(1) a{
	background: url(../images/icon_youtube.png) no-repeat left top;
	background-size: auto 35px;
}
.panel .panel_bottom ul.menu li:nth-child(2) a{
	background: url(../images/icon_photo.png) no-repeat left top;
	background-size: auto 35px;
}
.panel .panel_bottom ul.menu li:nth-child(3) a{
	background: url(../images/icon_voice.png) no-repeat left top;
	background-size: auto 35px;
}

.panel .panel_bottom ul.menu2 li.fuck a{
	background: url(../images/logo.png) no-repeat left top;
	background-size: auto 35px;
}
.panel .panel_bottom ul.menu2 li.comment a{
	background: url(../images/icon_comment.png) no-repeat left top;
	background-size: auto 35px;
}

.panel .panel_bottom .comment>dl{
	margin-bottom: 20px;
	font-size: 0.9rem;
}
.panel .panel_bottom .comment>dl dt{
	background: #EFF2F5;
	padding: 20px;
	border-radius: 10px;
	margin-left: 46px;
	display: inline-block;
	margin-bottom: 10px;
}
.panel .panel_bottom .comment>dl dt strong{
	display: block;
	margin-bottom: 5px;
}
.panel .panel_bottom .comment>dl dd{
	font-size: 0.8rem;
	margin-left: 66px;
}


/*********************************************************************************/
/* left                                                                     */
/*********************************************************************************/

#sidebar1{

}

#sidebar1 h2{
	font-size: 1.2rem;
	background: url(../images/icon_user.png) no-repeat left 0px top 0px;
	background-size:40px 40px;
	padding:10px 0 0 50px;
	height: 40px;
	margin-bottom: 30px;
}

#sidebar1 dl>dt,
#sidebard2 dl>dt{
	font-size: 1.1rem;
	color: #666;
	margin-bottom: 20px;
}

#sidebar1 dl>dt a,
#sidebard2 dl>dt a{
	color: #999;
	font-size: 1.1rem;
}

#sidebar1 dl>dd ul,
#sidebard2 dl>dd ul{
	margin-bottom: 40px;
}

#sidebar1 dl>dd li,
#sidebard2 dl>dd li{
	margin-bottom: 10px;
	padding-left: 46px;
	height: 40px;
	padding-top: 13px;
	font-size: 0.9rem;
	position: relative;
}

#sidebar1 dl>dd li.icon_kanata,
#sidebard2 dl>dd li.icon_kanata,
.panel .panel_bottom .comment>dl.icon_kanata{
	background:url(../images/uicon_kanagori.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_coco,
#sidebard2 dl>dd li.icon_coco,
.panel .panel_bottom .comment>dl.icon_coco{
	background:url(../images/uicon_coco.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_chama,
#sidebard2 dl>dd li.icon_chama,
.panel .panel_bottom .comment>dl.icon_chama{
	background:url(../images/uicon_chama.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_tmt,
#sidebard2 dl>dd li.icon_tmt,
.panel .panel_bottom .comment>dl.icon_tmt{
	background:url(../images/uicon_tmt.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_bk1,
#sidebard2 dl>dd li.icon_bk1,
.panel .panel_bottom .comment>dl.icon_bk1{
	background:url(../images/uicon_bakatare1.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_bk2,
#sidebard2 dl>dd li.icon_bk2,
.panel .panel_bottom .comment>dl.icon_bk2{
	background:url(../images/uicon_bakatare2.png) no-repeat left top;
	background-size: 36px;
}
#sidebar1 dl>dd li.icon_yagoo,
#sidebard2 dl>dd li.icon_yagoo,
.panel .panel_bottom .comment>dl.icon_yagoo{
	background:url(../images/uicon_yagoo.png) no-repeat left top;
	background-size: 36px;
}

#sidebar1 dl>dd li.icon_watame,
#sidebard2 dl>dd li.icon_watame,
.panel .panel_bottom .comment>dl.icon_watame{
	background:url(../images/icon_user.png) no-repeat left top;
	background-size: 36px;
}



/*********************************************************************************/
/* right                                                                     */
/*********************************************************************************/


#sidebard2 h2{
	font-size: 1.1rem;	
	color: #999;
}

#sidebard2 dl{
	border-top:1px solid #ccc;
	margin-top:30px;
	padding-top: 30px;
}

#sidebard2 .banner{
	font-size: 0.9rem;
}
#sidebard2 .banner h3{
	margin-bottom: 10px;
}

#sidebard2 dl>dd li.active::after{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	bottom: 0;
	left: 25px;
	background-color:#30A24C;
	border-radius: 50%;
	border: 2px solid #fff;
}
